.bio {
    padding: 0px 20px;
    color: $branco;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 20px;
    justify-content: stretch;
    align-items: stretch;

    @media (max-width: $container) {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
    }

    .quadro1 {
        background-image: url('../img/perfil.png');
        background-size: cover;
        padding: 20px;
        border-radius: 20px;
        grid-column: span 2 / span 2;

         @media (max-width: $container) {
             grid-column: 1 / -1;
height: 300px;  }


    }

    .bio-text {
        background-color: $cinza-medio-claro;
        padding: 20px;
        border-radius: 20px;
        grid-column: span 2 / span 2;
        grid-column-start: 1;
        grid-row-start: 2;

        @media (max-width: $container) {

             grid-column: 1 / -1;
              grid-row-start: auto;
        }

        p {
            color: $branco;
            font-size: 0.9em;
            font-weight: 400;
            margin: 0px 0px 0px 0px;
        }
    }

    .quadro2 {
        background-color: $cinza;
        padding: 20px;
        border-radius: 20px;
        grid-column-start: 3;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        @media (max-width: $container) {

            grid-column: 1 / -1;
            grid-template-columns: 1fr; 
    grid-template-rows: auto; 
        }



        img {
            width: 50px;
            height: 50px;
        }
    }

    .quadro3 {
        background-color: $cinza;
        padding: 20px;
        border-radius: 20px;
        grid-column-start: 3;
        grid-row-start: 2;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        @media (max-width: $container) {

             grid-column: 1 / -1;
             grid-row-start: auto;
        }

        .ano {
            font-size: 0.7em;
            letter-spacing: 2px;
            text-transform: uppercase;
            font-weight: 500;
            margin: 0px;
        }

        .desc {
            font-size: 0.9em;
            margin-bottom: 0px;
        }
    }

    .quadro4 {
        background-color: $cinza-medio-escuro;
        padding: 20px;
        border-radius: 20px;
        grid-column-start: 4;
        grid-row-start: 2;
        display: flex;
        flex-direction: column;
            justify-content: space-between;
            align-content: center;

        @media (max-width: $container) {

            grid-column: 1 / -1;
           grid-row-start: auto;
        }

        .carrosel-container {
            position: relative;
            margin: auto;
            overflow: hidden;
        }

        .carrosel {
            display: none;
            text-align: center;

        }

        .carrosel  img {
            width: 100%;
                max-width: 250px;
                max-height: 250px;
                display: block;
            }


        /* Animação de fade */
        .fade {
            animation-name: fadeEffect;
            animation-duration: 1.5s;
        }

        @keyframes fadeEffect {
            from {
                opacity: 0.4
            }

            to {
                opacity: 1
            }
        }
    }

    .quadro5 {
        background-color: $cinza;
        padding: 20px;
        border-radius: 20px;
        grid-column: span 2 / span 2;
        grid-column-start: 4;
        grid-row-start: 1;
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        @media (max-width: $container) {

             grid-column: 1 / -1;
             grid-row-start: auto;
             flex-direction: column;
        }

        .desc {
            margin-bottom: 20px;
        }
    }

    .quadro6 {
        background-color: $cinza-medio-escuro;
        padding: 20px;
        border-radius: 20px;
        grid-column-start: 5;
        grid-row-start: 2;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        @media (max-width: $container) {

             grid-column: 1 / -1;
             grid-row-start: auto;
        }

        /* Estilos para a mini-grid dos apps */
        .grid-de-apps {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(40px, 1fr));
            gap: 10px;
            justify-content: space-between;
            align-content: space-between;
        }

        .grid-de-apps img {
            width: 38px;
            height: 38px;
            object-fit: contain;
            transition: transform 0.2s ease-in-out;
            filter: grayscale(100%);
        }

        .grid-de-apps img:hover {
            transform: scale(1.1);
            filter: grayscale(0%);
        }

        span.tooltip {
  text-decoration: none;
  transition: all 0.4s ease;
  -webkit-transition: all .9s ease;
  padding: 0px;
  position: relative;
}
span.tooltip:before {
  content: attr(data-title);
  background-color: $branco;
  color: $preto;
  font-size: 13px;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 5px;
  font-family: $fonte;
  position: absolute;
  left: 0;
  bottom: -40px;
  //width: 250px;
  opacity: 0;
  transition: all .9s ease;
  z-index: 9;
}
span.tooltip:after {
  content: "";
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
  left: 5px;
  bottom: -6px;
  border-style: solid;
  border-width: 0 10px 10px 10px;
  border-color: transparent transparent $branco transparent;
  transition: all .4s ease;
  z-index: 8;
}
span.tooltip:hover:after,
span.tooltip:hover:before {
  opacity: 1;
}
    }

    h1 {
        font-size: 1.8em;
        font-weight: 500;
        padding: 0px;
    }

    h2 {
        font-size: 1.3em;
        font-weight: 500;
        padding: 0px 0px 10px 0px;

    }

    .ano {
        font-size: 0.7em;
        letter-spacing: 2px;
        text-transform: uppercase;
        font-weight: 500;
        margin: 0px;
    }

    .desc {
        font-size: 0.9em;
        margin-bottom: 0px;
    }
}