//CORES
$branco: #ffffff;
$preto: #000000;
$cinza-claro: #dbdede;
$cinza-medio-claro: #a4a7a7;
$cinza: #787A7A;
$cinza-medio-escuro: #505151;
$cinza-escuro: #1e1e1e;
$roxo-escuro: #3d348b;
$roxo-claro: #7678ed;
$amarelo: #f7b801;
$amarelo-queimado: #f18701;
$laranja: #f35b04;


//ETIQUETAS COLORIDAS 
.tag1 {background-color: $roxo-escuro;}
.tag2 {background-color: $roxo-claro;}
.tag3 {background-color: $amarelo;}
.tag4 {background-color: $amarelo-queimado;}
.tag5 {background-color: $laranja;}

//FONTES
$fonte: 'Rubik', sans-serif;
$fonte-especial: 'Rubik Glitch', sans-serif;

//TAMANHO DE TELAS
$container: 920px;
$tablet: 700px;
$celular: 540px;

//BODY
body {
    font-size: 17px;
    font-family: $fonte;
    line-height: 1.2;
    background-color: $branco;
    color: $preto;
}

html {
    scroll-behavior: smooth;
}

//CONTAINER
.container {
    padding: 10px;
    margin: 0 auto;
    width: $container;

    @media (max-width: $container) {
        width: 100%;
    }

    @media (max-width: $tablet) {
        width: 100%;
    }

    @media (max-width: $celular) {
        width: 100%;
    }
}

//TITULOS 
h1 {
    font-size: 3em;
    font-weight: 900;
    padding: 35px 0 10px 0;

     @media (max-width: $tablet) { font-size: 2.5em;}
}

h2 {
    font-size: 2em;
    font-weight: 700;
    padding: 15px 0 10px 0;
    @media (max-width: $tablet) { font-size: 1.5em;}

}

h3 {
    font-size: 1.5em;
    font-weight: 700;
    padding: 15px 0 10px 0;
}

//PARAGRAFO

p {
    font-size: 1em;
    font-weight: 300;
    margin-top: 20px;
    margin-bottom: 20px;
}

//SECTION

section {
    padding: 20px;

    .sem-padding {
        padding: 0px;
    }
}

// ESTILIZAÇÃO DE IMAGENSE VIDEOS
.borda {
                border-radius: 20px;
            }

figcaption {
                font-size: 0.8em;
                font-style: italic;
                font-weight: 300;
                margin-top: 10px;
            }

video {
    width: 100%;
}

//FOOTER

footer {
    margin: 20px 20px 0px 20px;
    background-color: $cinza-escuro;
    border-radius: 20px;
    color: $branco;
    padding: 20px 20px 20px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2em;
    position: relative;
    overflow-x: hidden;
    overflow-y: hidden;

    span {
        font-size: 1em;
        font-weight: 300;
        margin-top: 30px;

    }

    p {
        font-size: 1.2em;
        font-weight: 400;
        margin: 0px;
    }

    a {
        font-size: 2em;
        font-weight: 800;

         @media (max-width: $tablet) { font-size: 1em;}


    }

    .rede-sociais {
        display: flex;
        flex-direction: row;
        gap: 0.7em;
        margin-top: 10px;

        a {
            img {
                width: 40px;

            }
            &:hover {
                transition: 0.3s;
                transform: translateY(-4px);
            }
        }


    }


}

 footer:before {
        content: "OPEN TO WORK · OPEN TO WORK · OPEN TO WORK · OPEN TO WORK · OPEN TO WORK · OPEN TO WORK "; 
        position: absolute;
        left: 50%; 
        padding: 5px ; 
        background-color: $preto; 
        color: #fff;
        font-weight: bold;
        font-size: 1.2em; 
        text-align: center;
        white-space: nowrap; 
        transform: rotate(-19deg); 
        transform-origin: center; 
        z-index: 1; 
    }

    .credits {
        margin-top: 6px;
        p { font-size: 0.8em;
            color: $cinza;
            font-weight: 400;
            text-align: center;
            padding: 0px;
            margin-bottom: 6px;
        }
    }

    p {
        position: relative; 
        z-index: 2;
        margin-top: 0; 
    }

    .sem-padding {padding: 0px;}

//CURSOR
.cursor {
  display: none;
  pointer-events: none; 
  position: fixed; 
  height: 32px;
  width: 32px;
  border-radius: 32px;
  background-color: $branco;
  mix-blend-mode: difference;
  transform: translate(-50%, -50%); 
  transform-origin: top left;
  z-index:9999;
  //transition: 0.2s;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: width 0.3s ease, height 0.3s ease, background-color 0.3s ease;
}



.cursor-text {
  color: $preto;
  font-size: 0;
  font-weight: bold;
  opacity: 0; 
  text-align: center;
  transition: opacity 0.3s ease, font-size 0.3s ease; 
  pointer-events: none; 
  white-space: wrap; 
}


.cursor.pressable {
  height: 100px; 
  width: 100px;  
  border-radius: 50%;
  transition: width 0.3s ease, height 0.3s ease;
 
}

.cursor.pressable .cursor-text {
  font-size: 14px; 
  opacity: 1;
  color: $preto; 
  transition: width 0.3s ease, height 0.3s ease;
}

.click {
  scale: 0.8;
}


@media (hover: hover) {
  .no-cursor {
    display: none;
  }
}