
.capa-projetos {
    display: flex;
    justify-content: space-between;
    align-items: end;
    padding: 20px;
    width: 100%;
    height: 95vh;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-image: var(--bg-image-url, none);

    h1 {
        font-size: 2em;
        padding: 0px;
    }

    a {
        font-weight: 500;
        font-size: 1.1em;
    }

}

//GRID

.grid-projeto {
    --n-col: 12;
    --column-gap: 1.5rem;
    --row-gap: 1.5rem;
    display: grid;
    grid-template-columns: repeat(var(--n-col), 1fr);
    gap: var(--row-gap) var(--column-gap);
    align-items: start;
    & > *{
        grid-column-end: span 12;
    }
    @for $i from 1 to 12{
        & > .largura-#{$i}{
            grid-column-end: span $i;
        }

        & > .altura-#{$i}{
            grid-row-end: span $i;
        }

        & > .coluna-#{$i}{
            grid-column-start: $i;
        }

        & > .linha-#{$i}{
            grid-row-start: $i;
        }
    }

    @media screen and (max-width: $tablet) {
        display: block;

        & > *{
            margin-left: auto;
            margin-right: auto;
            margin-bottom: var(--row-gap);
            padding: 0px 20px;
            &:last-child{
                margin-bottom: 0;
            }
            @for $i from 1 to 10{
                $step: 50;
                &.mobile-largura-#{$step * $i}{
                    width: 100%;
                    max-width: #{$step*$i}px;
                }
            }
        }
    }
}


// PAGINAÇÃO 
.paginacao {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
    min-height: 250px;
    margin-top: 100px;
    gap: 20px;
    padding: 0px 20px;
    

    .veja-mais {
        background-color: $cinza-medio-claro;
        border-radius: 20px;
        padding: 20px;
        color: $branco;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        cursor: pointer;
    

    &:hover {
        transition: 0.3s;
                transform: translateY(-8px);
    }
}

    .sobre-mim {
        background-color: $cinza;
        border-radius: 20px;
        padding: 20px;
        color: $branco;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        cursor: pointer;
    

    &:hover {
        transition: 0.3s;
                transform: translateY(-8px);
    }
    }

    h3 {font-size: 1.2em;
        font-weight: 400;
        padding: 0;

         @media (max-width: $tablet) {
            font-size: 0.7em;}
    }

    h1 {font-size: 1.5em;
        padding: 0;
        @media (max-width: $tablet) {
            font-size: 0.8em;}
    }
}